body {
  margin: 0;
  overflow-y: auto;

}

.container{
  display: flex;
  min-height: 150vh;
  flex-direction: column;
  align-items: center;
  background: rgb(250, 242, 223);
  transition: 0.2s ease-in-out;

}

.form-container{

  transform: translateX(19px);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#no-result{

  color: rgb(248, 105, 105);
  font-family: 'Tilt Neon', cursive;
  font-size: 0.8rem;
  transform: translateY(6px);
}

.add-btn{

  background: rgba(254, 120, 43, 0.593);
  position: absolute;
  top: 550px;
  height: 1.7rem;
  font-size: 1.2rem;
  font-family: 'Tilt Neon', cursive;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 30px;
  color: rgb(250, 242, 223);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.698);
  padding-bottom: 8px;
  

}

.content{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: solid 2px black;
  box-shadow: 1px 9px 9px 2px rgba(0, 0, 0, 0.847);
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 20px;
  

}
.card-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(-20px);
  height: 300px;

}


.card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tilt Warp', cursive;
  margin-top: 30px;
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

#inputMessage{

  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.829);
  outline: none;
  width: 10rem;
  height: 25px;
  padding: 4px;
  background-color: transparent;
  font-family: 'Tilt Neon', cursive;

}

#find-button{

  margin: none;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateX(-30px) translateY(5px);

}

.fa-magnifying-glass{

  font-size: 1.2rem;

}

.weather-info{

  display: flex;
  align-items: center;

}

.weather-info h2{

  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: rgb(254, 120, 43);
  margin-bottom: 2.8rem;
}

.weather-main{

  display: flex;
  align-items: center;
  transform: translateY(-1.2rem);
  height: 100px;
  
}

.weather-main div{

  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.weather-main span{

  font-size: 2rem;
}

.weather-main p{

  font-size: 0.9rem;
}

.weather-main-temp{

  display: flex;
  align-items: center;
  margin-right: 15px;
  font-family: 'Tilt Neon', cursive;
  
}

.weather-main-temp p{

  font-size: 1.5rem;
}

#weather-logo{

  font-size: 8rem;
  margin-top: 2.3rem;

}

#weather-logo img{

  width: 130px;
  transform: translateX(10px);
}

#weather-temp{

  font-size: 3rem;
  font-family: 'Tilt Prism', cursive;
  transform: translateY(15px);
  
}

.today-date{

  margin-bottom: 6px;
}

.weather-information{

  display: flex;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 2px;
}



.weather-information-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 9px;
  margin: 10px;
  height: 40px;
  width: 80px;
  transform: translateY(-8px);
  
}

.weather-information-content p{

  
  font-size: 1rem;
  font-family: 'Tilt Neon', cursive;
}

.weather-information-content span{

  font-size: 1.2rem;
}


/* DARK MODE */

.container.dark-mode{

  color: rgba(252, 237, 218, 0.926);
  background: rgb(35, 44, 171);
  transition: 0.2s ease-in-out;
  

}

.weather-info.dark-mode h2{

  color: rgb(255, 176, 130);
  
}

.inputMessage.dark-mode{

  color: rgb(252, 237, 218);
}

.inputMessage.dark-mode::placeholder{

  color: rgb(252, 237, 218);
}

